{% block content %}
<h1>Welcome to the registration page</h1>
<div>
    <form method="post" enctype="multipart/form-data">
      {% if form.errors %}
        <div class="errors">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <h4>{{ error }}<h4>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
        {% csrf_token %}
       <h3><label>{{ form.username.label }}</label></h3>
        {{ form.username }}
        <h3><label>{{ form.password1.label }}</label></h3>
        {{ form.password1 }}
        <h3><label>{{ form.password2.label }}</label></h3>
        {{ form.password2 }}
        <h3><label>{{ form.email.label }}</label></h3>
        {{ form.email }}
        <h3><label>{{ form.first_name.label }}</label></h3>
        {{ form.first_name }}
        <h3><label>{{ form.last_name.label }}</label></h3>
        {{ form.last_name }}
        <h3><label>{{ form.photo.label }}</label></h3>
        {{ form.photo }}
      <br>
      <br>
        <input type="submit" value="Registration">
      </form>
      <h3>If you already have an account, please<a href="{% url 'login_page' %}"> click!</a></h3>
</div>
{% endblock %}